interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/rfc5246/bibtex/
  response:
    body:
      string: "@misc{rfc5246,\n\tseries =\t{Request for Comments},\n\tnumber =\t5246,\n\
        \thowpublished =\t{RFC 5246},\n\tpublisher =\t{RFC Editor},\n\tdoi =\t\t{10.17487/RFC5246},\n\
        \turl =\t\t{https://rfc-editor.org/rfc/rfc5246.txt},\n        author =\t{Eric\
        \ Rescorla and Tim Dierks},\n\ttitle =\t\t{{The Transport Layer Security (TLS)\
        \ Protocol Version 1.2}},\n\tpagetotal =\t104,\n\tyear =\t\t2008,\n\tmonth\
        \ =\t\taug,\n\tabstract =\t{This document specifies Version 1.2 of the Transport\
        \ Layer Security (TLS) protocol. The TLS protocol provides communications\
        \ security over the Internet. The protocol allows client/server applications\
        \ to communicate in a way that is designed to prevent eavesdropping, tampering,\
        \ or message forgery. {[}STANDARDS-TRACK{]}},\n}\n"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"a0988071cdc04bf187cc4794a71829d5"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/draft-ietf-tls-tls13/21/bibtex/
  response:
    body:
      string: "%% You should probably cite rfc8446 instead of this I-D.\n@techreport{ietf-tls-tls13-21,\n\
        \tnumber =\t{draft-ietf-tls-tls13-21},\n\ttype =\t\t{Internet-Draft},\n\t\
        institution =\t{Internet Engineering Task Force},\n\tpublisher =\t{Internet\
        \ Engineering Task Force},\n\tnote =\t\t{Work in Progress},\n\turl =\t\t{https://datatracker.ietf.org/doc/html/draft-ietf-tls-tls13-21},\n\
        \        author =\t{Eric Rescorla},\n\ttitle =\t\t{{The Transport Layer Security\
        \ (TLS) Protocol Version 1.3}},\n\tpagetotal =\t143,\n\tyear =\t\t,\n\tmonth\
        \ =\t\t,\n\tday =\t\t,\n\tabstract =\t{This document specifies version 1.3\
        \ of the Transport Layer Security (TLS) protocol. TLS allows client/server\
        \ applications to communicate over the Internet in a way that is designed\
        \ to prevent eavesdropping, tampering, and message forgery.},\n}\n"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"58085e3c0dc7c81cdef294dadfdbec54"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/rfc9999/bibtex/
  response:
    body:
      string: "\n<!DOCTYPE html> \n\n<!-- template: /a/www/ietf-datatracker/web/ietf/templates/base.html\
        \ -->\n\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>404 Not\
        \ Found</title>\n    <meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1\">\n\n    <link href=\"https://www.ietf.org/lib/dt/6.94.0/ptmono/stylesheet.css\"\
        \ rel='stylesheet' type='text/css'>\n    <link href=\"https://www.ietf.org/lib/dt/6.94.0/ptsans/stylesheet.css\"\
        \ rel='stylesheet' type='text/css'>\n    <link href=\"https://www.ietf.org/lib/dt/6.94.0/ptserif/stylesheet.css\"\
        \ rel='stylesheet' type='text/css'>\n    \n\n    <link rel=\"stylesheet\"\
        \ href=\"https://www.ietf.org/lib/dt/6.94.0/font-awesome/css/font-awesome.min.css\"\
        >\n    <link rel=\"stylesheet\" href=\"https://www.ietf.org/lib/dt/6.94.0/ietf/bootstrap/css/bootstrap.min.css\"\
        >\n    <link rel=\"stylesheet\" href=\"https://www.ietf.org/lib/dt/6.94.0/ietf/bootstrap/css/bootstrap-theme.min.css\"\
        >\n    <link rel=\"stylesheet\" href=\"https://www.ietf.org/lib/dt/6.94.0/ietf/css/ietf.css\"\
        >\n    \n    <style>\n     \n    </style>\n\n    <!--[if lt IE 9]>\n     \
        \   <script src=\"https://www.ietf.org/lib/dt/6.94.0/html5shiv/html5shiv.min.js\"\
        ></script>\n        <script src=\"https://www.ietf.org/lib/dt/6.94.0/respond/dest/respond.min.js\"\
        ></script>\n    <![endif]-->\n    \n\n    \n    <link rel=\"shortcut icon\"\
        \ href=\"https://www.ietf.org/lib/dt/6.94.0/ietf/images/ietf-icon-blue3.png\"\
        >\n    \n    <link rel=\"apple-touch-icon\" href=\"https://www.ietf.org/lib/dt/6.94.0/ietf/images/apple-touch-icon.png\"\
        >\n  </head>\n\n  <body  data-group-menu-data-url=\"/group/groupmenu.json\"\
        >\n      <nav class=\"navbar navbar-inverse navbar-fixed-top\">\n        <div\
        \ class=\"container-fluid\">\n\t  <div class=\"navbar-header\">\n\t    <button\
        \ type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"\
        #navbar-collapse\">\n\t      <span class=\"sr-only\">Toggle navigation</span>\n\
        \t      <span class=\"icon-bar\"></span>\n\t      <span class=\"icon-bar\"\
        ></span>\n\t      <span class=\"icon-bar\"></span>\n\t    </button>\n\t  \
        \  <a class=\"navbar-brand\" href=\"/\">\n\t       <img alt=\"IETF Logo\"\
        \ src=\"https://www.ietf.org/lib/dt/6.94.0/ietf/images/ietflogo-small-transparent.png\"\
        >\n\t       \n\t\t  \n\t\t  Datatracker\n\t\t  \n\t       \n\t    </a>\n\t\
        \  </div>\n\n\t  <noscript>\n\t    <p class=\"navbar-text\"><small>Enable\
        \ Javascript for full functionality.</small></p>\n\t  </noscript>\n\n\t  <div\
        \ class=\"collapse navbar-collapse\" id=\"navbar-collapse\">\n\t    <ul class=\"\
        hidden-nojs nav navbar-nav\">\n              <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu.html\
        \ -->\n\n\n\n\n<li class=\"dropdown\">\n  <a href=\"#\" class=\"dropdown-toggle\"\
        \ data-toggle=\"dropdown\">\n  \n  Groups\n  \n    </a>\n    <ul class=\"\
        dropdown-menu\" role=\"menu\">\n  \n\n  <li><a href=\"/wg/\">Active WGs</a></li>\n\
        \  <li><a href=\"/rg/\">Active RGs</a></li>\n  <li class=\"dropdown-submenu\
        \ group-menu\"><a href=\"/group/\">Other</a><!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_active_groups.html\
        \ -->\n<ul class=\"dropdown-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/draft-the-doctors-advocate/bibtex/
  response:
    body:
      string: "\n<!DOCTYPE html> \n\n<!-- template: /a/www/ietf-datatracker/web/ietf/templates/base.html\
        \ -->\n\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>404 Not\
        \ Found</title>\n    <meta name=\"viewport\" content=\"width=[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/rfc12314234235235234alkjsdaf/bibtex/
  response:
    body:
      string: "\n<!DOCTYPE html> \n\n<!-- template: /a/www/ietf-datatracker/web/ietf/templates/base.html\
        \ -->\n\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>404 Not\
        \ Found</title>\n    <meta name=\"viewport\" content=\"widt[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/rfchello2134hello/bibtex/
  response:
    body:
      string: "\n<!DOCTYPE html> \n\n<!-- template: /a/www/ietf-datatracker/web/ietf/templates/base.html\
        \ -->\n\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>404 Not\
        \ Found</title>\n    <meta name=\"viewport\" content=\"width=device-wi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/draft-of-the-fifty-cent/50/bibtex/
  response:
    body:
      string: "\n<!DOCTYPE html> \n\n<!-- template: /a/www/ietf-datatracker/web/ietf/templates/base.html\
        \ -->\n\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>404 Not\
        \ Found</title>\n    <meta name=\"viewport\" content=\"width=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/RFC8446/bibtex/
  response:
    body:
      string: "@misc{rfc8446,\n\tseries =\t{Request for Comments},\n\tnumber =\t8446,\n\
        \thowpublished =\t{RFC 8446},\n\tpublisher =\t{RFC Editor},\n\tdoi =\t\t{10.17487/RFC8446},\n\
        \turl =\t\t{https://rfc-editor.org/rfc/rfc8446.txt},\n        author =\t{Eric\
        \ Rescorla},\n\ttitle =\t\t{{The Transport Layer Security (TLS) Protocol Version\
        \ 1.3}},\n\tpagetotal =\t160,\n\tyear =\t\t2018,\n\tmonth =\t\taug,\n\tabstract\
        \ =\t{This document specifies version 1.3 of the Transport Layer Security\
        \ (TLS) protocol. TLS allows client/server applications to communicate over\
        \ the Internet in a way that is designed to prevent eavesdropping, tampering,\
        \ and message forgery. This document updates RFCs 5705 and 6066, and obsoletes\
        \ RFCs 5077, 5246, and 6961. This document also specifies new requirements\
        \ for TLS 1.2 implementations.},\n}\n"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"da82c8d74d3f43e3df8ac09994f71ca2"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datatracker.ietf.org/doc/DraFt-ietf-Tls-tLs13/21/bibtex/
  response:
    body:
      string: "%% You should probably cite rfc8446 instead of this I-D.\n@techreport{ietf-tls-tls13-21,\n\
        \tnumber =\t{draft-ietf-tls-tls13-21},\n\ttype =\t\t{Internet-Draft},\n\t\
        institution =\t{Internet Engineering Task Force},\n\tpublisher =\t{Internet\
        \ Engineering Task Force},\n\tnote =\t\t{Work in Progress},\n\turl =\t\t{https://datatracker.ietf.org/doc/html/draft-ietf-tls-tls13-21},\n\
        \        author =\t{Eric Rescorla},\n\ttitle =\t\t{{The Transport Layer Security\
        \ (TLS) Protocol Version 1.3}},\n\tpagetotal =\t143,\n\tyear =\t\t,\n\tmonth\
        \ =\t\t,\n\tday =\t\t,\n\tabstract =\t{This document specifies version 1.3\
        \ of the Transport Layer Security (TLS) protocol. TLS allows client/server\
        \ applications to communicate over the Internet in a way that is designed\
        \ to prevent eavesdropping, tampering, and message forgery.},\n}\n"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - '"58085e3c0dc7c81cdef294dadfdbec54"'
    status:
      code: 200
      message: OK
version: 1
